<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <script src="https://kit.fontawesome.com/77f3b4f646.js" crossorigin="anonymous"></script>
    <title>About Us | Geo7</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/data/">Our Data</a>
        <a class="active" href="/about/">About Us</a>
        <!-- <a href="#">Blogpost <i class="fas fa-link"></i></a> -->
    </nav>
    <div id="container">
        <div id="image-container">
            <img  style="margin:0!important; padding:0!important; border:0!important;" src="https://cdn-images-1.medium.com/max/1024/0*tqIVrQZCHKLeLZCV" />
            <img style="margin:0!important; padding:0!important; border:0!important;" src="https://img.jakpost.net/c/2018/07/16/2018_07_16_49381_1531744349._large.jpg" />
            <figcaption data-selectable-paragraph="">Source: <a href="https://medium.com/flutter/material-range-slider-in-flutter-a285c6e3447d" class="es jx" rel="noopener nofollow">Flutter slider by Anthony Robledo, </a><a href="https://www.shutterstock.com/image-photo/rome-italy-may-13-2018-person-1093984997" class="es jx" rel="noopener nofollow">Shutterstock by Kaspars Grinvalds</a></figcaption>
        </div>
        <div id="about-container">
            <h1>About us</h1>
            <p> This project was created as part of the TechLabs Amsterdam 2021 Data Science and Machine Learning course.</p>
            <h4>Who are we?</h4>
            <ul>
                <li>Dipti Mahtani 👷‍♀️ C&B Officer at NH Hotel Group, 📍 Amsterdam</li>
                <li>Fabian Frank, 👷‍♂️ Supporting Services at Kadaster, 📍 Zeist</li>
                <li>Friederike Vorwerk, 👩‍🎓 Bachelor of Science, Psychology, 📍 Leiden</li>
                <li>Ruby Chohan, 👩‍🎓 Web Development, 📍 Utrecht</li>
                <li>Zhihao Wu, 👷‍♂️ System Engineer at Arcadis, 📍 Wageningen</li>
            </ul>
            <h4>Group Mentor:</h4>
            <ul> 
                <li>Bas Musters, 👨‍🎓 Bachelor of Computer Science, 📍 The Hague</li>
            </ul>
            <p>For our project, we estimated the price for an Airbnb rental property in Amsterdam based on its location, using the skills we gained from the TechLabs course in Python programming for data cleaning, analysis and visualisation, and machine learning.
            </p>
        </div>
    </div>
    <script src="/static/buttons.js"></script>
</body>
</html>
