<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/see-the-data.css">
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.3.min.js" integrity="sha384-dM3QQsP+wXdHg42wTqW85BjZQdLNNIXqlPw/BgKoExPmTG7ZLML4EGqLMfqHT6ON" crossorigin="anonymous"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
    <script src="https://kit.fontawesome.com/77f3b4f646.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a class="active" href="/data/">Our Data</a>
        <a href="/about/">About Us</a>
        <!-- <a href="#">Blogpost <i class="fas fa-link"></i></a> -->
    </nav>
    <div id="container">
        <div id="description">
            <section>
                <div>
                    <h1>Our Data</h1>
                </div>
                <div id="second">
                    <p>This project was developed using open sourced datasets from Airbnb that detail the properties available for rent on their platform in different cities. Our models offer rental owners a data-driven estimate on how they should value their property in Amsterdam. <br><br>After a thorough analysis of the data, we determined which qualities had the biggest effect on price and created a Random Forest Machine Learning Model to predict prices of new properties. You can make use of that model to price your property by using the form on the Home page.</p>
                    <a href="http://insideairbnb.com/get-the-data.html" target=“_blank”>The Airbnb datasets are available here <i class="fas fa-link"></i></a>
                    <h2>On This Page</h2>
                    <p>The map on this page displays an overview of Airbnb rental prices by neighborhood. Based on the color scale, you can see the most expensive neighborhoods in Amsterdam compared to the least expensive. <br><br>Our product is not only intended to be used by property owners; we also provide a solution to renters looking to evaluate the price ranges of properties throughout the city. This map allows renters to quickly narrow down their search based on their budget. 
                    </p>
                    <p id="emphasis"><strong>Hover through the neighborhoods on the map to find more information including the price range of specific neighborhoods.</strong></p>
                </div>
            </section>
        </div>
        <div id="bokeh-map">
            <div class="bk-root" id="54d3b905-1c7a-4a00-8f9b-9aad0716d488" data-root-id="1255"></div>
                <script type="application/json" id="1376">
                    {ADD-JSON-DATA-HERE}
                </script>
            <script type="text/javascript">
                (function() {
                    var fn = function() {
                        Bokeh.safely(function() {
                        (function(root) {
                            function embed_document(root) {
                            
                            var docs_json = document.getElementById('1376').textContent;
                            var render_items = [{"docid":"99189325-9782-4876-8f62-436b90dfed5a","root_ids":["1255"],"roots":{"1255":"54d3b905-1c7a-4a00-8f9b-9aad0716d488"}}];
                            root.Bokeh.embed.embed_items(docs_json, render_items);
                        
                            }
                            if (root.Bokeh !== undefined) {
                            embed_document(root);
                            } else {
                            var attempts = 0;
                            var timer = setInterval(function(root) {
                                if (root.Bokeh !== undefined) {
                                clearInterval(timer);
                                embed_document(root);
                                } else {
                                attempts++;
                                if (attempts > 100) {
                                    clearInterval(timer);
                                    console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                                }
                                }
                            }, 10, root)
                            }
                        })(window);
                        });
                    };
                    if (document.readyState != "loading") fn();
                    else document.addEventListener("DOMContentLoaded", fn);
                    })();
            </script>
        </div>
    </div>
    <script src="/static/buttons.js"></script>
</body>
</html>
